# Die .gitignore enthält Dateien, welche nicht mit in das Git Repository gepusht werden sollen
# Nutzerdaten (Nutzernamen, Passwörter)
# Datenbankanbindung (Datenbankname, Datenbanknutzer, Datenbankpasswort)

# IntelliJ IDEA Files
/.idea
*.iml

# Application
config.php

# Composer
/vendor
